body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
    background-image: url(bg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


header, footer {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 1em;
}

section {
    padding: 2em;
}

#theme-toggle {
    cursor: pointer;
    padding: 0.5em;
    margin: 1em;
}

.dark-mode {
    background-color: #333;
    color: #f0f0f0;
}

.dark-mode header, .dark-mode footer {
    background-color: #555;
    color: #fff;
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    text-decoration: underline;
}
